<article id="<!--{HREF_NAME}-->" class="post-1869 hbp_software type-hbp_software status-publish hentry <!--{CLASS_LIST}-->" name="software" software-name="<!--{NAME}-->">
	<header class="entry-header">

				<h1 class="entry-title">
			<a href="https://hbp-hpc-platform.fz-juelich.de/?hbp_software=<!--{HREF_NAME}-->" rel="bookmark" name="<!--{HREF_NAME}-->"><!--{NAME}--></a>
		</h1>

		<div class="entry-meta">

				<span class="tags-links"><!--{TAG_LIST}--></span>
				<br><span class="tags-links"><!--{CATEGORY_LIST}--> </span>					</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
            <!--{DESCRIPTION}-->
        <table>
            <tbody><tr class="even"><td>Date of Release</td><td><!--{RELEASE_DATE}--></td></tr>
			<tbody><tr class="odd"><td>Availability</td><td><!--{HBP}--></td></tr>
		<tbody><tr class="even"><td>License</td><td><!--{LICENSE}--></td></tr>
		<tbody><tr class="odd"><td>Framework</td><td><!--{FRAMEWORK}--></td></tr>
            <tr class="even"><td>Version of software</td><td><!--{VERSION}--></td></tr>
            <tr class="odd"><td>Version of documentation</td><td><!--{DOC_VERSION}--></td></tr>
            <tr class="even"><td>Software available</td><td><a href="<!--{LINK}-->"><!--{LINK}--></a></td></tr>
            <tr class="odd"><td>Documentation</td><td><a href="<!--{DOC_LINK}-->"><!--{DOC_LINK}--></a>
</td></tr>
            <tr class="even"><td>Responsible</td><td><!--{MAINTAINER_LIST}--></td></tr>
	    <tr class="odd"><td>Requirements &amp; dependencies</td><td><!--{REQ_DEP_LIST}--></td></tr>
            <tr class="even"><td>Platforms</td><td><!--{TARGET_SYSTEMS}--></td></tr>
			<tbody><tr class="odd"><td>Deployment</td><td><!--{DEPLOYMENT}--></td></tr>
		<tbody><tr class="even"><td>Displaytype</td><td><!--{DISPLAY}--></td></tr>
			<tr class="odd"><td>Input Formats</td><td><!--{INPUT}--></td></tr>
			<tr class="even"><td>Output Formats</td><td><!--{OUTPUT}--></td></tr>
        </tbody></table>


    </div><!-- .entry-content -->


	<footer class="entry-meta">

			</footer><!-- .entry-meta -->
</article><!-- #post -->